* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Merriweather', serif;
  background-color: #ffffff;
}

.main-container {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 10vh;
  height: calc(100% - 60px);
}

.icon img {
  margin-top: 120px;
  max-width: 250px;
  height: auto;
}

.affirmation {
  font-size: 28px;
  margin: 20px 0;
}

.buttons {
  text-align: center;
  margin-top: 60px; /* Adjusted for better vertical spacing */
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between buttons */
}

.button-style {
  color: #000000;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 18px;
}

#refreshButton {
  background-color: #F2E4DE;
}

#donateButton {
  background-color: #C6C3BD;
  color: #FFFFFF; /* Sets the text color to white */
}

.button-style:hover {
  opacity: 0.9;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative; /* Keeps footer at bottom */
  font-family: 'Roboto', sans-serif;
}

footer p, footer a {
  margin: 0;
  font-size: 0.75rem;
  color: #84807C;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer p {
    width: 100%;
    margin-bottom: 10px;
  }
}
