* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%; /* Make sure the HTML element fills the height of the screen */
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Merriweather', serif;
  background-color: #ffffff;
  margin: 0; /* Remove default margin */
}

.main-container {
  flex: 1; /* Still grows to take up all available space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  padding: 0 20px; /* Add padding to maintain spacing */
  margin-bottom: 5vh; /* Adds a margin to the bottom of the main container */
}

.icon img {
  max-width: 250px;
  height: auto;
  margin-bottom: 20px;
}

.affirmation {
  font-size: 28px;
  margin: 20px 0;
}

.buttons {
  display: flex;
  gap: 20px; /* Space between buttons */
  justify-content: center; /* Center buttons horizontally */
  margin-top: 40px; /* Space above the buttons */
}

.button-style {
  background-color: #F2E4DE; /* Default button color */
  color: #000000; /* Text color */
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 18px;
}

#donateButton {
  background-color: #C6C3BD; /* Specific color for the Donate button */
  color: #FFFFFF; /* Text color for the Donate button */
}

.button-style:hover {
  opacity: 0.9;
}

footer {
  width: 100%;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

footer p, footer a {
  color: #84807C;
  text-decoration: none;
  font-size: 0.75rem;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  footer p {
    margin-bottom: 10px;
  }
}

